*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9AECDB;
}

h1{
  font-size: 35px;
  font-family: 'MontSerrat', Arial;
}

span::before{
  content: "";
  animation: text-animation 2.5s infinite;
}

@keyframes text-animation{
  0% {content: '💻'};
  25% {content: '🌇'};
  50%{content: '⛱️'};
  75%{content: '🎧'};
  100% {content:'🐱'};
}
